workflows/n8n/task_automator.json
{
  "name": "task-automator",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Format the email in the format expected by your API\nconst email = items[0].json;\nconst formattedEmail = `From: ${email.from}\\nSubject: ${email.subject}\\n\\n${email.snippet}`;\n\nreturn [{\n  json: {\n    email_text: formattedEmail\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "fca2fa88-79b8-4947-baeb-1d4da4195352",
      "name": "Code"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "96d35f9c-e953-4243-b7d5-261b28d04745",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "4VQeAkktuATeJBvt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "fharoun120@gmail.com",
          "mode": "list",
          "cachedResultName": "fharoun120@gmail.com"
        },
        "start": "={{ $json.message.content.meeting_details.proposed_datetime }}",
        "end": "={{ new Date(new Date($json.message.content.meeting_details.proposed_datetime).setHours(new Date($json.message.content.meeting_details.proposed_datetime).getHours() + ($json.message.content.meeting_details.duration_hours + 3))) }}\n",
        "additionalFields": {
          "attendees": [],
          "location": "={{ $json.message.content.meeting_details.location }}",
          "summary": "={{ $json.message.content.meeting_details.title }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1580,
        -220
      ],
      "id": "cf6daeb3-e065-4cc6-9bba-5a92fae30026",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "V5gh5GwZiOsUgWqE",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "ft:gpt-3.5-turbo-0125:personal:task-automator-combined:BCsiqoAn",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "You are an email analyzer. Extract the following information from the provided email: category (Meeting Request, Task Request, Action Item, General), intent, sentiment, importance, meeting_details (with title, proposed_datetime in ISO format, duration_hours, location, attendees), tasks (with description, assigned_to, deadline, priority), people_mentioned, follow_up_actions, reply_suggestions. Return a JSON object with these fields.",
              "role": "system"
            },
            {
              "content": "={{ $json.email_text }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        440,
        0
      ],
      "id": "75725302-ad5a-4511-adec-729bb6fd94df",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "tTSjCS7fJHYRq397",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content.category }}",
                    "rightValue": "Meeting Request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a01c3633-082a-49e9-83d7-1c779f427274"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "09b5f01a-d0b1-46d5-b332-b99a2eb102aa",
                    "leftValue": "={{ $json.message.content.category }}",
                    "rightValue": "Task Request",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        800,
        0
      ],
      "id": "701e1ec6-13bf-4856-aa19-99cf605227f6",
      "name": "Switch"
    },
    {
      "parameters": {
        "task": "Q1pkM0VSTHIyRnkweWRORg",
        "title": "={{ $json.message.content.tasks[0].description }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        1020,
        100
      ],
      "id": "931ca5e0-b99d-4346-a219-32e0ad9e4e26",
      "name": "Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "qQNaFgnXYjrJHZT8",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "task_created",
        "emailType": "text",
        "message": "={{ $('OpenAI').item.json.message.content.category }} {{ $('OpenAI').item.json.message.content.intent }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1200,
        100
      ],
      "id": "61a36680-19ef-4ac0-856a-1e5a54f2ddb0",
      "name": "Gmail",
      "webhookId": "c08626ea-0ce0-434d-af3c-dade21abf84c",
      "credentials": {
        "gmailOAuth2": {
          "id": "4VQeAkktuATeJBvt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "meeting created",
        "message": "=meeting created  {{ $json.summary }} on {{ $json.start.dateTime }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1800,
        -220
      ],
      "id": "1ba9c678-d388-4afd-9e42-395b59d98468",
      "name": "Gmail1",
      "webhookId": "85f13551-1578-457b-9b4d-486bb2e562e5",
      "credentials": {
        "gmailOAuth2": {
          "id": "4VQeAkktuATeJBvt",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Tasks": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Amman",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "caf116bf-7c86-4c42-97ba-377703e800f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "77309938c3772c43411cf25de4cc6eb2ac5eb611cab0fd8d8417f60d09865222"
  },
  "id": "wQGR2bdZNwczN3IV",
  "tags": []
}